{% extends "sablon.html" %} {% block icerik %}
<!-- Sayfa içeriği -->
<img src="/static/img/y.jpg" class="img-fluid" alt="Responsive image">
<div class="jumbotron">
  <h1 class="display-4">
    <marquee direction=right>MOONLİGHT CAFE&BAR</marquee>
  </h1>
  <p class="lead">
    Web sitemize hoşgeldiniz...
  </p>
  <hr class="my-4" />
  <p>
    Lütfen giriş yapınız ya da kayıt olunuz.
  </p>
  <a class="btn btn-primary btn-lg" href="/giris" role="button">Giriş</a>
  <a class="btn btn-primary btn-lg" href="/kayit" role="button">Kayıt</a>
</div>

{% endblock %}